/*HEADER SECTION CSS START*/

header {
  z-index: 1;
  border-bottom:solid 1px #d7d7d7;
  position:fixed;
  width:100%;
  background:#fff;
}


header .navbar-collapse form .icon{
  background:none;
  border:0;
  position:relative;
  left:-40px;
  color:#d0d0d0
}
header .navbar-brand img{
  width:140px;
  margin-right:10px;
}
header .navbar-collapse form .form-control{
  border: solid 1px #c8c8c8;
}
header .navbar-collapse form select.form-control{
  font-size: 12px;
    height: 38px;
  border-right:0;
  border-bottom-right-radius:0;
  border-top-right-radius:0;
}
header .navbar-collapse form input.form-control{
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  width:179px;
  color: #c8c8c8;
    font-size: 14px;
    height: 38px;
  font-weight:500;
}
header .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 7px;
    padding-left: 7px;
}
header .navbar-collapse ul li a{
  color:#1e2c5c;
  font-size:14px;
  font-weight: 600;
}
header .navbar-collapse ul li a:hover, header .navbar-collapse ul li a:focus{
  color:#e48d07;
  text-decoration:none;
}
header .dropdown-toggle::after {
  margin-left:5px;
  margin-right:5px;
}
header .navbar {
    padding: .5rem 0rem;
}
header .dropdown-toggle::after {
   transition: transform 0.15s linear; 
}

header .show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}
header .dropdown-menu {
  margin-top: 0;
  padding:15px;
  box-shadow:0 0 20px #ddd;
  border:solid 1px #e48d07
}

header .dropdown-menu  a{ 
  text-decoration:none;
  padding-bottom:10px!important;
  font-weight:500!important;
}
header .dropdown-menu  a:hover{
  text-decoration:none;
  color:#e48d07!important;
}
header .loginbtn {
  margin-left: 120px; 
  display:inline-block;
  border-radius:30px;
  float:right;
}
header .loginbtn:hover {
  border:solid 1px #e48d07;
  color:#fff!important;
  background:#e48d07;
  text-decoration:none;
}
/*HEADER SECTION ENDS*/

/*SIDE-NAV*/

.sidenav {
  transition: 0.4s;
  height: 100%;/* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0%; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* When you mouse over the navigation links, change their color */
.sidenav  button:hover {
  color: grey;
}


/* The navigation menu links */
div.sidenav button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.yt-2 ,.bar-2, .bulleye-2 , .trophy-2 , .lines-2 , .circle-2 , .cog-2 , .pen-2{
  padding-right: 20px;
  color: #F4D03F;
}

/*SIDE-NAV ENDS*/

/*VERTICAL BAR*/
#vertical-bar{
  transition: 0.4s;
  position:absolute;
  top: 0%;
}


.yt-1 ,.bar-1, .bulleye-1 , .trophy-1 , .lines-1 , .circle-1 , .cog-1 , .pen-1{
  font-size: 200%;
  padding-bottom: 8px;
  padding-top: 8px;
  color: #F4D03F;
}

@media(min-width: 780px){
  #vertical-bar{
    top: 0px;
  }
}

@media(max-width: 769px){
 
  .yt-1 ,.bar-1, .bulleye-1 , .trophy-1 , .lines-1 , .circle-1 , .cog-1 , .pen-1
  {
   font-size: 150%; 
  }

  #vertical-bar{
    top:85px;
  }
}

.btn-group-vertical{
  z-index: 2;
  background-color: black; 
}

/*VERTICAL BAR ENDS*/

.extra-space{
  min-height: 110px;
}



/*SIDENAV*/



/*SIDENAV ENDS*/

/*TOP THREE BUTTONS*/

.dropbtn {
  background-color: white;
  color: #e48d07;
  border-radius:5px;
  padding: 8px 40px;
  font-size: 16px;
  border: solid #e48d07;
  cursor: pointer;
}

.dropbtn:hover{
  
  background-color: #f1f1f1;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 8px;
  box-shadow:0 0 20px #ddd;
  padding: 10px 0;
  display: none;
  position: absolute;
  border: solid #e48d07;
  border-width:1px;
  border-radius:7px;
  background-color: white;
  min-width: 187px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  font-size:16px;
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {color: #e48d07;}
.arrow {         
  border: solid #e48d07;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.show {
  display: block;
}

@media(max-width: 769px){
  .top-3-btn{
    margin-top: 10px;
    text-align: center;
  }
}

#button-1{
  
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#button-2{
  
  background-color: #DF3F92;
  border-radius: 20px;
  border: 1.5px solid #DF3F92;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
}

#button-3{
  background-color: white;
  border: 1.5px solid #DF3F92;
  border-radius: 20px;
  color: #DF3F92;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;

  padding-left: 50px;
  padding-right: 50px;
}

/*TOP THREE BUTTONS ENDS*/



/*FOOTER SECTION CSS START*/
footer{
  z-index: -1;
  margin-top: 10%;
  background:#1d2c5d;
} 
.spacefoot{
  padding:35px 0;
}
.fot h2{
  font-size:16px;
  color:#fff;
  font-weight:bold;
  margin-bottom:20px;
}
.fot ul{
  padding:0;
}
.fot ul li {
  list-style:none;
}
.fot ul li a{
  font-size:14px;
  color:#657dca;
  font-weight:500;
  line-height:26px;
}
.fot ul li a:hover{
  color:#ffbb3e;
  text-decoration:none;
}
.fot_social ul{
  float:right;
  padding-right:70px;
}
.fot_social ul li{
  display:inline-block;
}
.fot_social ul li a{
  background:#faad51;
  color:#1d2c5d;
  width:30px;
  height:30px;
  line-height:32px;
  text-align:center;
  border-radius:5px;
  display:inline-block;
}
.fot_social ul li a i{
  font-size:20px;
}
.subfooter {
  background:#21336d;
  padding:15px;
}
.subfooter ul {
  padding:0;
  margin:0;
}
.subfooter ul li{
  display:inline-block;
  padding-right:20px;
}
.subfooter ul li a{
  color:#fff;
  font-size:13px;
  font-weight:300;
  font-family: 'Arkibal Lt';
}
.subfooter ul li a:hover{
  color:#ffbb3e;
  text-decoration:none;
}
/*FOOTER SECTION CSS END*/


@media(max-width: 769px){
  .extra-space{
    min-height: 20%;
  }
}